/** DEPRECATED **/
.random-image-carousel .carousel-caption {
  background-color: rgba(0, 0, 0, 0.4);
	right: 0;
	left: 0;
}

.archives-random-image {
	max-height: 240px;
	margin-right: auto;
	margin-left: auto;
}
/** -- DEP -- **/

.es-selected-image-carousel .carousel-caption {
  background-color: rgba(0, 0, 0, 0.4);
	right: 0;
	left: 0;
}

.es-selected-image {
	max-height: 240px;
	margin-right: auto;
	margin-left: auto;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
	margin-bottom: 0;
}
.tt-hint {
	display: block;
	width: 100%;
	height: 37px;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #999;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.tt-menu {
	min-width: 160px;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;

 /* Set it to full width of parent*/
  width: 100%;
}
.tt-suggestion {
  text-transform: none;
  color : #333;
	display: block;
	padding: 3px 20px;
}
.tt-suggestion:hover {
	color: #fff;
	background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
}
.tt-suggestion p {
	margin: 0;
}

.tt-cursor {
	color: #fff;
	background-color: #428bca;
}

.twitter-typeahead .tt-input {
  height: 100%;
}

span.twitter-typeahead {
	height : 100%;
}


.navbar .tt-hint {
  height : 32px !important;
  top: inherit;
}

.navbar .twitter-typeahead {
  top: -5px;
}


.a-nograyscale {
	transition: none;
	color: #333 !important;
	text-transform: none;
}

/*.search-result-content {padding-top: 70px; }

.all-archives-content {padding-top: 70px; }*/

.padding-top-90px {
	padding-top: 90px;
}
.padding-top-80px {
	padding-top: 80px;
}
.padding-top-70px {
	padding-top: 70px;
}
.padding-top-60px {
	padding-top: 60px;
}
.padding-top-50px {
	padding-top: 50px;
}
.padding-top-30px {
	padding-top: 30px;
}

.archives-carousel {
	height : 240px;
}

.archives-carousel .carousel-inner{
	width:100%;
	max-height: 240px !important;
	height: 100%;
}


.archives-carousel .carousel-caption {
  padding-bottom: 0px;
	bottom: 0px;
	/*-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;*/
}

.archives-carousel .item.active {
	height: 100%;
}

.gallery .thumbnail {
	 background-color: transparent;
 	 border: none;
}


/*.lazy-img.lazy-img-landscape img {
	width: 100%;
	height: 100%;
	/*max-height: 633px;*
}
.lazy-img.lazy-img-portrait img {
	overflow: hidden;
	max-height: 633px;
}*/

.lazy-img.lazy-img-landscape img {
  height: 650px;
  max-width: 100%;
	/*max-height: 633px;*/
}
.lazy-img.lazy-img-portrait img {
  height: 650px;
  max-width: 100%;
}



.lazy-img.thumbnail {
	margin-bottom: 0px;
}

.image-map{
	height: 260px;
	width:100%
}

.modal h1, h2, h3, h4, h5, h6 {
    text-transform: none;
}
/*
.intro.intro-back {
  margin-top:40px;
}*/
.nav-lowercase {
	text-transform: none;
}

.navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;

}

.background-thumbnail {
  height: 250px;
  background: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
}


#page-content-wrapper{
	padding-top:70px;
}


  @media (max-width: 768px) {
		.navbar-form {
			  padding: 0px 0px;
				margin-top: 4px;
				margin-bottom: 0px;
				-webkit-box-shadow: none;
    		box-shadow: none;
		}
	}
/* Small devices (tablets, 768px and up) */
	@media (min-width: 300px) {
		/*.navbar-main-search { width: 680px; }*/
		.nav-search { width: 300px !important; }
	}

  @media (min-width: 768px) {
		 .navbar-main-search { width: 680px; }
		 .nav-search { width: 210px !important; }
		 .gallery .thumbnail img { max-height: 300px; }
	}

  @media (min-width: 992px) {
		.navbar-main-search { width: 950px; }
		.nav-search { width: 400px !important }
		.gallery .thumbnail img {
			max-height: 300px;
		}
	}

  @media (min-width: 1200px) {
		.navbar-main-search { width: 800px; }
		.nav-search { width: 600px !important; }
		.gallery .thumbnail img {
			max-height: 236px;
		}
		.modal-lg {
				width: 1100px;
		}
	}

	@media (min-width: 1400px) {
		.gallery .thumbnail img {
			max-height: 280px;
		}
		.modal-lg {
				width: 1300px;
		}
	}

	@media (min-width: 1600px) {
		.gallery .thumbnail img {
			max-height: 324px;
		}
		.modal-lg {
				width: 1500px;
		}
	}
	@media (min-width: 1800px) {
		.gallery .thumbnail img {
			max-height: 370px;
		}
		.modal-lg {
				width: 1700px;
		}
	}
	@media (min-width: 1900px) {
		.gallery .thumbnail img {
			max-height: 395px;
		}
		.modal-lg {
				width: 1800px;
		}
	}


	#preview_carousel:-webkit-full-screen	{
		width: 100%;
	}
	#preview_carousel:-moz-full-screen		{
		width: 100%;
	}
	#preview_carousel:-ms-full-screen		{
		width: 100%;
	}
	#preview_carousel:-o-full-screen		{
		width: 100%;
	}
	#preview_carousel:full-screen			{
		width: 100%;
	}
	.fullscreen .thumbnail {
		border: none;
		background-color: #000000;
	}

	.fullscreen .thumbnail img {
		max-height: 100%;
	}

  .toggle-sidebar {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

	}

	.toggle-sidebar .icon-bar {
	    display: block;
	    width: 22px;
	    height: 2px;
	    border-radius: 1px;
	}

  .navbar-img-logo {
    padding: 0px;
  }
  .navbar-img-logo img {
    height: 115%;
    padding: 15px;
    width: auto;
  }




.intro-logo {
  color: #fff;
  text-align: center;
  /* margin: auto; */
  position: relative;
}

.intro-logo img{
  width:500px;
}
.intro-body .container{
  margin-top: 260px;
}

.navbar-custom .navbar-toggle {
  color: #fff;
  background-color: rgba(255,255,255,.2);
  font-size: 12px;
}

.intro-back-fixed {
	position : fixed !important;
}

section.container{
  color : #fff;
}
.sidebar-brand p{
  font-size: 18px;
}

.filterlist-list span.pull-right{
  margin-right:10px;
}

.fullscreen-carousel .carousel {
    height: 100%;
}
.fullscreen-carousel .item {
    height: 100%;
}
.fullscreen-carousel .active {
    height: 100%;
}

.fullscreen-carousel .carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fullscreen-carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.description-section {
  margin-top: 40px;
  margin-bottom : 40px;
}
