<!DOCTYPE html>
<html lang="en" ng-app="search">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Photo Engine</title>

    <!-- Bootstrap Core CSS -->
    <link href="lib/css/bootstrap.min.css" rel="stylesheet">

    <!-- Notify CSS -->
    <link href="lib/css/ng-notify.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="dist/css/grayscale.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="dist/css/sidebar.min.css" rel="stylesheet">


    <link href="lib/css/leaflet.css" rel="stylesheet">
    <link href="lib/css/select.min.css" rel="stylesheet">

    <link rel="stylesheet" href="dist/css/application.min.css" media="screen" title="no title" charset="utf-8">

    <!-- Custom Fonts -->
    <link href="lib/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-controller="archiveListing">
  <div ng-include="'views/templates/navbar.html'"></div>
  <header class="intro intro-back" style="background-image: url('/img/midlun-background.jpg')" >
    <div class="container padding-top-60px">
      <ol class="breadcrumb">
        <li >
          <a href="#" ng-click="goToStart()" >Miðlun</a>
        </li>
        <li ng-repeat="(index, item) in selectedValues" ng-class="($last) ? 'active' : ''">
          <a ng-href="{{ getHistoryURI(item, index)}}" ng-disabled="($last)" >{{item.value}}</a>
        </li>
      </ol>

      <div class="row">
        <div ng-repeat="(key, item) in items">
          <div class="col-lg-3 col-md-3 col-sm-6 random-archive-images-container">
            <a ng-href="{{getUri(item)}}" poe-target="{{item._target}}" class="thumbnail">
              <archive-image
                query="{{item._query}}"
                index="{{index}}"
                type="{{type}}"
                select="random"
                debug-parent="{{item._parents}}"
                title="{{item._name}}">
              </archive-image>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>


  <notify-development></notify-development>

  <script src="config.js"></script>
  <script src="dist/js/libs.js"></script>
  <script src="dist/js/is_IS.min.js"></script>
  <script src="dist/js/application.min.js"></script>
</body>

</html>
