
<div id="wrapper"   ng-class="(showSidebar) ? '' : 'toggled'">
     <!-- Sidebar -->
     <div id="sidebar-wrapper">
       <ul class="sidebar-nav">
         <li class="sidebar-brand">
           <p>
              Ljósmyndarar
           </p>
         </li>

         <filter-list type="" filter-key="Credit.raw" dataset="photographers" api="{{photographersapi}}" query="queryString" filter="filterString"></filter-list>
         <!-- <li ng-repeat="photographer in photographers">
           <a href ng-click="addToFilter('Credit.raw', photographer.name)"><input type="checkbox"> {{photographer.name}} <span class="pull-right">{{photographer.count}}</span></a>
         </li> -->
       </ul>
     </div>
     <!-- /#sidebar-wrapper -->

     <!-- Page Content -->
     <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-10">

              <h3><a href="#/">Forsíða</a>/<a href="#/archives">Söfn</a>/<a href>{{archive}} </a></h3>
            </div>

          </div>
        </div>

         <div class="container-fluid">
           <div class="container-fluid">
             <div class="row">
               <div  ng-repeat="(index, image) in archiveImages">
                 <div class="col-lg-3 col-md-3 col-sm-4">
                   <!-- <a href="#/image/{{image._id}}?root={{root}}&index={{index}}" ng-click="setImagesInCache(index, image)" class="thumbnail" tooltip-placement="bottom" uib-tooltip="{{image._source.Description}}"> -->
                   <a ng-click="openModal(index, image)" class="thumbnail" tooltip-placement="bottom" uib-tooltip="{{image._source.Description}}">

                   <div class="background-thumbnail" background-image="{{image._source.cdn1[DefaultImage]}}"></div>
                   </a>
                 </div>
               </div>
             </div>
           </div>
           <div angular-scroll="load_more_data" disabled="{{scrollDisabled}}" px="1000" ></div>
         </div>
     </div>
     <!-- /#page-content-wrapper -->
 </div>
