
<!--FIXME: Move me to a special controller-->
<nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll  hidden-sm hidden-xs navbar-img-logo" href="/#/">
              <img src="img/nav-logo.png" alt="" />
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- /.navbar-collapse -->


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <form class="navbar-form navbar-right" ng-submit="global_search();" ng-controller="globalsearch">
           <div class="form-group">
             <input type="text" ng-model="query" class="form-control" placeholder="Leita í öllum söfnum">
           </div>
           <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
         </form>
       </div><!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>



<!-- Intro Header -->
<header class="intro intro-back">
  <div class="intro-body" ng-hide="(StartSearchHidden)">
    <div class="container">

    </div>
  </div>
</header>
<div class="all-archives-content padding-top-70px container-fluid">
  <div class="row">
    <div ng-repeat="(index, archive) in archives">
      <div class="col-lg-3 col-md-3 col-sm-4 random-archive-images-container">
        <a href="#/archive/{{archive.archive_id}}" class="thumbnail">
          <random-archive-image archive="{{archive.archive_id}}" archive-name="{{archive.name}}"></random-archive-image>
        </a>
      </div>
    </div>
  </div>
</div>
