<div class="modal-header">
    <h3 class="modal-title"> <a>{{ image._source.archive }}</a> / <a>{{ image._source.filename }}</a></h3>

</div>
<div class="modal-body">
  <div ng-include="'views/templates/image-body.html'">

  </div>

</div>

<div class="modal-footer">
    <button type="button" name="button" ng-click="fullscreen()" class="btn btn-default pull-left" tooltip="Þysja út"><i class="fa fa-arrows-alt"></i></button>
    <button class="btn btn-primary" type="button" ng-click="close()">Loka</button>
</div>
