<div class="">
  <div class="modal-header">
      <h3 class="modal-title">{{ firstImg._source.UserDefined104 }}</h3>

  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div ng-repeat="(key, image) in images">
        <div class="col-xs-6 col-md-3">
          <a href="#" ng-click="close(key, image)" class="thumbnail thumbnail-max-height" uib-tooltip-append-to-body="true" uib-tooltip="{{getName(image)}}">
            <cdn-image image="image" size="xx-small" class="cdn-image-size-small">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="dismiss()">Loka</button>
  </div>
</div>
