<nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand page-scroll  hidden-sm hidden-xs navbar-img-logo" href="/" target="_self">
            <img src="img/nav-logo.png" alt="" />
          </a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
              Menu <i class="fa fa-bars"></i>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- /.navbar-collapse -->
        <div class="collapse navbar-collapse navbar-main-collapse" id="collapse">

          <form class="navbar-form navbar-right">
            <div class="form-group">
              <typeahead-search query="query" filter="queryObject.filter" on-typeahead-submit="onTypeaheadSubmit" input-placeholder="Leita..."></typeahead-search>
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              <!-- <a class="btn btn-info" href ng-click="showSidebar =!showSidebar"><i class="fa fa-wrench"></i></a> -->
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="page-scroll" href="webarchive.html" target="_self">Miðlun</a>
            </li>
            <li>
              <a class="page-scroll" href="archives.html" target="_self">Myndasöfn</a>
            </li>
          </ul>
        </div>
    </div>
    <!-- /.container -->
</nav>
