<nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation" ng-controller="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand page-scroll  hidden-sm hidden-xs navbar-img-logo" href="/" target="_self">
            <img src="img/nav-logo.png" alt="" />
          </a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
              Menu <i class="fa fa-bars"></i>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- /.navbar-collapse -->
        <div class="collapse navbar-collapse navbar-main-collapse" id="collapse">
        <navbar-typeahead-search query="query" input-placeholder="Leita í öllum söfnum"  ng-show="displaySearch" ng-cloak></navbar-typeahead-search>
              <!-- <a class="btn btn-info" href ng-click="showSidebar =!showSidebar"><i class="fa fa-wrench"></i></a> -->
          <ul class="nav navbar-nav navbar-right">
            <li ng-repeat="(key, index) in indices">
              <a class="page-scroll" href="{{getLink(index, key)}}" target="_self">{{index.name}}</a>
            </li>
          </ul>
        </div>
    </div>
    <!-- /.container -->
</nav>
