<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
      <li class="sidebar-brand">
          <p>
              Ljósmyndarar
          </p>
      </li>

      <filter-list type="" filter-key="Credit.raw" dataset="photographers" api="{{photographersapi}}" query="query" query-object="queryObject"></filter-list>
      <!-- <li ng-repeat="photographer in photographers">
        <a href ng-click="addToFilter('Credit.raw', photographer.name)"><input type="checkbox"> {{photographer.name}} <span class="pull-right">{{photographer.count}}</span></a>
      </li> -->
  </ul>
</div>
